<h1>Legal notice</h1>
<p class="text-base-content/60"><em>This is a convenience translation. The German version is legally binding.</em></p>

<h2 id="m46">Service provider</h2>
<p>Christian Nielebock<br>An der Rosenhelle 2c<br>61138 Niederdorfelden, Germany</p>

<h2 id="m56">Contact</h2>
<p>Email address: <a href="mailto:info@openbookcase.de">info@openbookcase.de</a></p>
<p>Phone: +49 (0) 151 29678672</p>

<h2 id="m65">Liability and intellectual property notices</h2>
<p>Disclaimer: The content of this online offering has been compiled carefully and to the best of our current knowledge, but is provided for information purposes only and has no legally binding effect, unless it concerns legally mandatory information (e.g. the legal notice, the privacy policy, terms and conditions or mandatory consumer notices). We reserve the right to change or delete the content in whole or in part, provided that contractual obligations remain unaffected. All offers are subject to change and non-binding.</p>
<p>Links to external websites: The content of external websites to which we link directly or indirectly lies outside our area of responsibility and we do not adopt it as our own. We accept no responsibility for any content or disadvantages arising from the use of the information available on the linked websites.</p>
<p>Copyright and trademark rights: All content shown on this website, such as texts, photographs, graphics, brands and trademarks, is protected by the respective property rights (copyrights, trademark rights). The use, reproduction, etc. of this content is subject to our rights or the rights of the respective authors or rights holders.</p>
<p>Notice of legal violations: Should you notice any legal violations within our website, we ask you to inform us. We will remove unlawful content and links without delay once we become aware of them.</p>

<p class="seal"><a href="https://datenschutz-generator.de/" title="Legal text by Dr. Schwenke - click for more information." target="_blank" rel="noopener noreferrer nofollow">Created with the free privacy policy generator by Dr. Thomas Schwenke</a></p>
